.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse; */
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
}

.forText {
  /* width: 55%; */
}
.foto {
  /* width: 45%; */
  max-height: 356px;
  opacity: 0.7;
  object-fit: contain;
}

.aboutText {
  color: #aaa;
  line-height: 2;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row-reverse; /* Горизонтальное направление для перестройки элементов */
  }
}
