.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
}
.headerContainer {
  position: relative;
  margin: 0 auto;
}

.navContainer {
  box-sizing: border-box;
  display: flex;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #555;
  background-color: #282c33;
}

.logo {
  display: flex;
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 10px;
  background-color: #282c33;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(100vw);
  opacity: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-color: #555;
}

.showMenu {
  transform: translateX(-10px);
  opacity: 1;
}

.navLink {
  display: flex;
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #888;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.navLink:hover {
  transform: scale(1.2);
  color: #aaa;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.active {
  display: flex;
  text-decoration: none;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .openBtn {
    display: none;
  }
  .closeBtn {
    display: none;
  }

  .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    width: max-content;
    opacity: 1;
    height: 50%;
    padding: 0;
    left: 0;
    transform: translateX(0vw);
  }
  .headerContainer {
    max-width: 1200px;
  }
}
