.mainContainer {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.title {
  text-align: center;
}

.h1,
.h2,
.skills {
  margin: 0;
}
.h1 {
  color: #fff;
}

.h2,
.skills {
  color: #999;
}
.skills {
  font-size: 10px;
  text-align: center;
}

.fotoContainer {
  position: relative;
  z-index: 1;
  width: 60%;
  min-width: 300px;
}

.foto {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  opacity: 0.8;
}

.logo {
  position: relative;
  top: -40px;
  left: -20px;
}
.nav {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.links {
  text-decoration: none;
  color: #999;
  margin-top: 10px;
  font-size: 20px;
}

.links span {
  color: #c778dd;
}

.links:hover {
  color: #fff;
  transform: scale(1.2);
}

.skillLink {
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.skillImg {
  display: block;
  position: relative;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  width: 75px;
  height: 75px;
  opacity: 0.8;
  top: 0;
  /* pointer-events: none; */
  transition: transform 0.5s ease;
}

.skillLink:hover .skillImg {
  opacity: 1;
  animation: shake 7s infinite;
}

@keyframes shake {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(359deg);
  }
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: row; /* Горизонтальное направление для перестройки элементов */
    flex-wrap: wrap; /* Включает перенос строк */
    justify-content: center;
    row-gap: 20px;
    column-gap: 60px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .title {
    order: 1;
    flex: 1 1 100%; /* Первый элемент занимает всю ширину */
  }

  .fotoContainer {
    order: 3;
    flex: 1 1;
    padding: 20px;
    max-width: 350px;
  }

  .nav {
    top: 0;
    margin: 0;
    align-items: center;
    max-width: 200px;

    order: 2;
    flex: 1 1;
    padding: 20px;
    padding-left: 60px;
  }
}
